<div class="row">
	<div class="col-md-4">
		<h2>To Do</h2>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title"></h2>
			</div>
			<div class="panel-body">
				Content
			</div>
			<div class="panel-footer text-center"></div>
		</div><!--panel-->
	</div><!--col-md-4-->

	<div class="col-md-4">
		<h2>Doing</h2>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title"></h2>
			</div>
			<div class="panel-body">
				Content
			</div>
			<div class="panel-footer text-center"></div>
		</div><!--panel-->
	</div><!--col-md-4-->

	<div class="col-md-4">
		<h2>Done</h2>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title"></h2>
			</div>
			<div class="panel-body">
				Content
			</div>
			<div class="panel-footer text-center"></div>
		</div><!--panel-->
	</div><!--col-md-4-->
</div><!--row-->